APP_ENV=development
STORAGE_BACKEND=memory
JWT_SECRET=change-me
CORS_ORIGINS=http://localhost:5173
YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
YDB_DATABASE=/ru-central1/b1gl50g1821kp8k1kc6o/etn4bllre16i47ddt15s

